@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

/* QUIZ */
.quiz-main {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.question-side {
  width: 75%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),
    url("./assets/background.jpg") center no-repeat;
  background-size: cover;
}

/* MONEY TREE */
.money-tree {
  width: 25%;
  background-color: #020230;
  padding: 64px 24px;
  border-left: .5px solid #59599e;
}

.money-bar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 12px 24px;
  border-radius: 8px;
}

.money-active {
  background-color: #161680;
}

.text-muted {
  color: whitesmoke;
  font-weight: 100;
  font-size: 25px;
  margin-right: 64px;
  width: 32px;
}

.money-amount {
  font-weight: 400;
  font-size: 25px;
}

/* TIMER */
.timer-area {
  width: 100%;
  height: 50vh;
  position: relative;
}

.timer{
  position: absolute;
  bottom:0px;
  border: 3px solid #fff;
  border-radius: 50%;
  padding: 16px;
  font-size: 64px;
  left:32px
}

/* QUESTION AREA */
.question-area {
  width: 100%;
  padding: 32px;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.question {
  padding: 16px;
  font-size: 24px;
  height: 25vh;
  background-color: #020230;
  margin: 32px 0px;
  border-radius: 16px;
  border: 1px solid #59599e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answers {
  display: grid;
  gap: 32px;
  grid-template-columns: auto auto;
}

.answer {
  width: 100%;
  background-color: #020230;
  border-radius: 16px;
  min-height: 64px;
  border: 1px solid #59599e;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s;
  cursor: pointer;
}
.answer:hover{
  background-color: #161680;
  border: 1px solid #161680;
}

.active{
  background-color: #161680;
  border: 1px solid #161680;
}

.correct{
  background-color: #00D100 !important;
  border: 1px solid #00D100 !important;
}

.wrong{
  background-color: #dc143c !important;
  border: 1px solid #dc143c !important;
}