@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #fff;
}


/* QUIZ */
.quiz-main {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.question-side {
  width: 75%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),
    url("./assets/background.jpg") center no-repeat;
  background-size: cover;
}


/* MONEY TREE */
.money-tree {
  width: 25%;
  background-color: #020230;
  padding: 64px 24px;
}

.money-bar{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 12px 24px;
  border-radius: 8px;
}

.money-active{
  background-color:#161680;
}

.text-muted {
  color: whitesmoke;
  font-weight: 100;
  font-size: 25px;
  margin-right: 64px;
  width: 32px;
}

.money-amount{
  font-weight: 400;
  font-size: 25px;
}

